@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
*, *:after, *:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 20px;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden; }

section.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: block;
  opacity: 1;
  background: #fff;
  z-index: 99999999;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  section.loader .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 65px; }
  section.loader .preloader span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 9px;
    height: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-animation: preloader 2s infinite ease-in-out;
    animation: preloader 2s infinite ease-in-out; }
  section.loader .preloader span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms; }
  section.loader .preloader span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms; }
  section.loader .preloader span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms; }
  section.loader .preloader span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms; }
  section.loader .preloader span:nth-child(6) {
    left: 55px;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms; }

@-webkit-keyframes preloader {
  0% {
    height: 5px;
    background: rgba(0, 0, 0, 0.1); }
  25% {
    height: 80px;
    background: #000; }
  50%, 100% {
    height: 5px;
    background: rgba(0, 0, 0, 0.1); } }

@keyframes preloader {
  0% {
    height: 5px;
    background: rgba(0, 0, 0, 0.1); }
  25% {
    height: 80px;
    background: #000; }
  50%, 100% {
    height: 5px;
    background: rgba(0, 0, 0, 0.1); } }

.bodyContainer {
  display: none; }

nav.sideMenuNav {
  position: fixed;
  overflow-y: scroll;
  overflow: hidden;
  top: 0;
  right: -130%;
  width: 100%;
  z-index: 9999999999;
  background: whitesmoke;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  nav.sideMenuNav button.closeSideMenuBtn {
    background: whitesmoke;
    position: absolute;
    border: none;
    right: 2em;
    top: 2em;
    height: 45px;
    width: 50px;
    z-index: 999;
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    nav.sideMenuNav button.closeSideMenuBtn:hover {
      background: #ddd;
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in; }
    nav.sideMenuNav button.closeSideMenuBtn:hover:after, nav.sideMenuNav button.closeSideMenuBtn:hover:before {
      height: 7px; }
    nav.sideMenuNav button.closeSideMenuBtn:active, nav.sideMenuNav button.closeSideMenuBtn:focus {
      outline: none; }
    nav.sideMenuNav button.closeSideMenuBtn:before, nav.sideMenuNav button.closeSideMenuBtn:after {
      position: absolute;
      content: " ";
      top: 45%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%;
      height: 5px;
      background: #000;
      border-radius: 6px; }
    nav.sideMenuNav button.closeSideMenuBtn:before {
      left: 0;
      -webkit-transform: rotate(-50deg);
          -ms-transform: rotate(-50deg);
              transform: rotate(-50deg);
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center; }
    nav.sideMenuNav button.closeSideMenuBtn:after {
      right: 0;
      -webkit-transform: rotate(50deg);
          -ms-transform: rotate(50deg);
              transform: rotate(50deg);
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center; }
  nav.sideMenuNav .sideMenuFixer {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0;
    font-size: 20px;
    margin: 0;
    display: grid;
    grid-template: repeat(3, 1fr) 3fr/1fr; }
    nav.sideMenuNav .sideMenuFixer li {
      margin-bottom: .5em;
      list-style-type: none; }
      nav.sideMenuNav .sideMenuFixer li a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 1.8em;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
        letter-spacing: .5px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        nav.sideMenuNav .sideMenuFixer li a:hover {
          color: black;
          -webkit-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
    nav.sideMenuNav .sideMenuFixer #menu_outer_links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      nav.sideMenuNav .sideMenuFixer #menu_outer_links a {
        position: relative; }
        nav.sideMenuNav .sideMenuFixer #menu_outer_links a:before {
          position: absolute;
          content: attr(data);
          color: #000;
          bottom: 1em;
          left: 50%;
          font-size: .35em;
          font-weight: 600;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); }
      nav.sideMenuNav .sideMenuFixer #menu_outer_links a {
        width: 20%;
        height: 2em; }
      nav.sideMenuNav .sideMenuFixer #menu_outer_links a:nth-child(1) {
        color: #6e5494; }
      nav.sideMenuNav .sideMenuFixer #menu_outer_links a:nth-child(2) {
        color: #0077b5; }

section.overlay {
  z-index: 99999999999999999;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: -130%;
  width: 100vw;
  background: whitesmoke;
  z-index: 99999;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  display: grid;
  grid-template: 1.5fr 2fr / 10px 1fr 10px;
  grid-template-areas: '. about_heading .' '. about_skills .'; }
  section.overlay .closeMenuBtn {
    background: whitesmoke;
    position: absolute;
    border: none;
    right: 2em;
    top: 2em;
    height: 45px;
    width: 50px;
    z-index: 999;
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    section.overlay .closeMenuBtn:hover {
      background: #ddd;
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in; }
    section.overlay .closeMenuBtn:hover:after, section.overlay .closeMenuBtn:hover:before {
      height: 7px; }
    section.overlay .closeMenuBtn:active, section.overlay .closeMenuBtn:focus {
      outline: none; }
    section.overlay .closeMenuBtn:before, section.overlay .closeMenuBtn:after {
      position: absolute;
      content: " ";
      top: 45%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%;
      height: 5px;
      background: #000;
      border-radius: 6px; }
    section.overlay .closeMenuBtn:before {
      left: 0;
      -webkit-transform: rotate(-50deg);
          -ms-transform: rotate(-50deg);
              transform: rotate(-50deg);
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center; }
    section.overlay .closeMenuBtn:after {
      right: 0;
      -webkit-transform: rotate(50deg);
          -ms-transform: rotate(50deg);
              transform: rotate(50deg);
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center; }
  section.overlay .about_heading_con {
    position: relative;
    grid-area: about_heading; }
    section.overlay .about_heading_con .about_heading {
      padding: 0px 20px;
      padding-top: 60px;
      height: 100%;
      width: 100%;
      font-size: 20px;
      color: #1c1d25;
      font-family: 'Source Sans Pro', sans-serif; }
      section.overlay .about_heading_con .about_heading h3 {
        position: relative;
        font-size: 30px;
        margin: 0;
        padding: 0; }
      section.overlay .about_heading_con .about_heading p {
        font-family: 'Source Sans Pro', sans-serif;
        padding: 0; }
      section.overlay .about_heading_con .about_heading p.first {
        margin-top: -3px;
        font-size: 20px; }
      section.overlay .about_heading_con .about_heading p.second {
        margin-top: 12px; }
      section.overlay .about_heading_con .about_heading p.third {
        margin-top: 5px; }
      section.overlay .about_heading_con .about_heading p.fourth {
        margin-top: 5px; }
  section.overlay .about_skills_con {
    grid-area: about_skills;
    position: relative; }
    section.overlay .about_skills_con .aboutSkill {
      position: relative;
      display: grid;
      grid-template: 55px 1fr/ 1fr;
      grid-template-areas: 'myskills_heading' 'iconsCon';
      width: 100%;
      height: 100%;
      padding: 0px 20px;
      font-family: 'Source Sans Pro', sans-serif; }
      section.overlay .about_skills_con .aboutSkill h3 {
        position: relative;
        grid-area: myskills_heading;
        font-size: 30px;
        margin: 0;
        padding-top: 30px;
        text-align: left; }
      section.overlay .about_skills_con .aboutSkill .iconsCon {
        position: relative;
        margin-top: 30px;
        position: relative;
        grid-area: iconsCon;
        display: grid;
        grid-column-gap: 10px;
        grid-template: 80px/repeat(4, 1fr); }
        section.overlay .about_skills_con .aboutSkill .iconsCon .icon {
          position: relative; }
          section.overlay .about_skills_con .aboutSkill .iconsCon .icon svg {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0; }
          section.overlay .about_skills_con .aboutSkill .iconsCon .icon:before {
            position: absolute;
            content: attr(data);
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            bottom: -2.5em;
            padding: 1em 2em;
            font-size: .8em;
            font-weight: 600;
            font-family: 'Source Sans Pro', sans-serif; }
        section.overlay .about_skills_con .aboutSkill .iconsCon #react:hover {
          color: #00d8ff; }
        section.overlay .about_skills_con .aboutSkill .iconsCon #js:hover {
          color: #f7df1e; }
        section.overlay .about_skills_con .aboutSkill .iconsCon #css:hover {
          color: #002561; }
        section.overlay .about_skills_con .aboutSkill .iconsCon #html:hover {
          color: #e34f26; }

section.intro {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: calc(100vh - 30px);
  width: 100%;
  background: black;
  display: grid;
  grid-template: 70px 1fr 50px/ 70px 1fr 1fr 100px;
  grid-template-areas: "logo nav nav sideMenu" " . introText introText introText" ". below below ."; }
  section.intro > * {
    overflow: hidden; }

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.logo {
  grid-area: logo;
  position: relative;
  z-index: 9999; }

.sideMenu {
  position: relative;
  margin-right: 2.3em;
  grid-area: sideMenu;
  display: grid;
  cursor: pointer;
  border: none;
  height: 3em;
  width: 3.5em;
  align-self: center;
  justify-self: end;
  text-align: center;
  background: none;
  z-index: 999; }
  .sideMenu:focus, .sideMenu:active {
    outline: none; }
  .sideMenu span {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    width: 3.5em;
    height: 3px;
    background: #fff;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in; }
    .sideMenu span:before, .sideMenu span:after {
      position: absolute;
      content: " ";
      height: 3px;
      background: #fff;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      border-radius: inherit; }
    .sideMenu span:before {
      width: 80%;
      top: -0.85em;
      -webkit-transition: all .1s ease-in;
      -o-transition: all .1s ease-in;
      transition: all .1s ease-in; }
    .sideMenu span:after {
      width: 60%;
      bottom: -0.9em;
      -webkit-transition: all .1s ease-in;
      -o-transition: all .1s ease-in;
      transition: all .1s ease-in; }
  .sideMenu:hover > span {
    width: 2.5em;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in; }
  .sideMenu:hover > span:before, .sideMenu:hover > span:after {
    width: 3.5em;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in; }

.introText {
  position: relative;
  display: grid;
  grid-template: 1fr 1.5em 1fr / 1fr;
  grid-template-areas: "heading" "hero_description" " abtBtn";
  grid-area: introText; }
  .introText > * {
    overflow: hidden; }
  .introText h2.introSpanContainer {
    grid-area: heading;
    position: relative;
    justify-self: left;
    align-self: end;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    display: grid;
    width: 7em;
    height: 1em;
    line-height: 1;
    grid-template: 1fr/repeat(9, 1fr);
    color: #fff; }
    .introText h2.introSpanContainer span {
      opacity: 0;
      position: relative;
      justify-self: center;
      -webkit-animation: opacity 1s ease-in-out forwards;
              animation: opacity 1s ease-in-out forwards; }
  .introText .hero_description {
    margin-top: 3px;
    text-align: left;
    position: relative;
    grid-area: hero_description;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .79em;
    margin-left: .3em;
    width: 19.5em;
    letter-spacing: 0.05em;
    height: 100%;
    color: #fff;
    line-height: 1.9; }
    .introText .hero_description:before, .introText .hero_description:after {
      position: absolute;
      content: " ";
      height: .12em;
      background: #fff; }
    .introText .hero_description:before {
      top: 0;
      left: 0.2em;
      -webkit-transform: skew(-20deg);
          -ms-transform: skew(-20deg);
              transform: skew(-20deg); }
    .introText .hero_description:after {
      bottom: -.5px;
      left: 0.2em;
      -webkit-transform: skew(-20deg);
          -ms-transform: skew(-20deg);
              transform: skew(-20deg); }
  .introText button {
    margin-top: 30px;
    grid-area: abtBtn;
    justify-self: left;
    -ms-flex-item-align: start;
        align-self: start;
    font-size: .9em;
    text-align: center;
    font-weight: 700;
    letter-spacing: .06em;
    padding: .5em 1.3em;
    border: 0px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    background: none;
    border: 0.084em solid white;
    margin-left: .3em;
    cursor: pointer;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    z-index: 9; }
    .introText button:hover {
      background: #fff;
      color: #000;
      -webkit-transition: all .15s ease-in;
      -o-transition: all .15s ease-in;
      transition: all .15s ease-in; }

.below {
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  height: 40px;
  width: 30px;
  background: none;
  border: 2px solid #fff;
  border-radius: 8px; }
  .below:after {
    position: absolute;
    content: " ";
    top: 50%;
    width: 100%;
    height: 1.5px;
    background: #fff;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .below .belowLine {
    position: absolute;
    height: 50%;
    width: 1.5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #333;
    overflow-y: hidden; }
    .below .belowLine:after {
      position: absolute;
      content: " ";
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 2px;
      height: 150%;
      background: #fff;
      top: -150%;
      -webkit-animation: belowLine 1.2s ease-in-out infinite;
              animation: belowLine 1.2s ease-in-out infinite; }

section.showCase {
  min-width: 0;
  min-height: 0;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: auto;
  width: 100%;
  padding-bottom: 6em;
  display: grid;
  grid-template: repeat(2, 4em) 5em repeat(1, 14em) 7em repeat(1, 14em) 7em repeat(1, 14em) 7em repeat(1, 14em)/15px 1fr 1fr 15px;
  grid-template-areas: ". showCaseHeading showCaseHeading ." ". showCaseHeading showCaseHeading ." ". . . ." ". showCaseFirst showCaseFirst ." ". . . ." ". showCaseSecond showCaseSecond ." ". . . ." ". showCaseThird showCaseThird ." ". . . ." ". showCaseFourth showCaseFourth ."; }
  section.showCase:before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: whitesmoke; }

.showCaseHeading {
  position: relative;
  grid-area: showCaseHeading;
  font-size: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: .5px; }
  .showCaseHeading:before {
    position: absolute;
    content: " ";
    height: 5px;
    width: 65%;
    left: 0;
    bottom: -10px;
    background: #000;
    border-radius: 1px;
    z-index: 1; }

.showCaseFirst {
  position: relative;
  grid-area: showCaseFirst;
  z-index: 1; }

.showCaseSecond {
  position: relative;
  grid-area: showCaseSecond;
  z-index: 1; }

.showCaseThird {
  position: relative;
  grid-area: showCaseThird;
  z-index: 1; }

.showCaseFourth {
  position: relative;
  grid-area: showCaseFourth;
  z-index: 1; }

.showCommon {
  z-index: 99;
  opacity: 0;
  min-width: 0;
  min-height: 0;
  position: relative;
  display: grid;
  grid-template: 60px 1fr/ 1fr;
  -webkit-box-shadow: 0px 0px 40px 1px #eee;
          box-shadow: 0px 0px 40px 1px #eee;
  grid-template-areas: 'showCaseTitle' ' iframe'; }
  .showCommon .showCaseTitle {
    grid-area: showCaseTitle;
    background: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    line-height: 2.8;
    letter-spacing: .043em;
    padding-left: 1em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    opacity: 1;
    font-size: 1em; }
  .showCommon .showCaseContainer {
    z-index: 999;
    position: relative;
    grid-area: iframe;
    overflow: hidden;
    display: grid;
    grid-template: 1fr/1fr;
    grid-template-areas: 'image'; }
    .showCommon .showCaseContainer:before {
      position: absolute;
      content: " ";
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      left: 0;
      background: rgba(0, 0, 0, 0.01); }
    .showCommon .showCaseContainer a {
      z-index: 999999;
      display: block;
      position: absolute;
      bottom: calc(25% + 20px);
      right: calc(5% + 30px);
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      -ms-flex-item-align: start;
          align-self: start;
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      letter-spacing: .06em;
      padding: .5em 1.3em;
      border: 0px;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      background: #000;
      -webkit-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in; }
      .showCommon .showCaseContainer a:hover {
        color: white; }
      .showCommon .showCaseContainer a:hover:after {
        -webkit-box-shadow: inset 0px 0px 0px .6em #000;
                box-shadow: inset 0px 0px 0px .6em #000;
        border: 0px;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        color: #fff; }
      .showCommon .showCaseContainer a:after {
        position: absolute;
        content: " ";
        width: 106%;
        height: 126%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background: none;
        border: .13em solid #000;
        z-index: 99;
        -webkit-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        background: none; }
  .showCommon .first {
    background-color: #fff;
    background-image: url("../assets/showcaseFirst_first.PNG");
    background-size: 320px 250px;
    background-position: center center;
    background-repeat: no-repeat; }
  .showCommon .second {
    background-color: #fff;
    background-image: url("../assets/showcaseSecond_first.PNG");
    background-size: 320px 250px;
    background-repeat: no-repeat;
    background-position: center center; }
  .showCommon .third {
    background-color: #D6EAF8;
    background-image: url("../assets/showcaseThird_first.PNG");
    background-size: 320px 250px;
    background-position: center center;
    background-repeat: no-repeat; }
  .showCommon .fourth {
    background-color: #FFF;
    background-image: url("../assets/showcaseFourth_first.PNG");
    background-size: 320px 250px;
    background-position: center center;
    background-repeat: no-repeat; }

section.visitCodepen {
  margin: 0;
  padding: 0;
  position: relative;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  section.visitCodepen button {
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    height: auto;
    border: none; }
    section.visitCodepen button a {
      position: relative;
      display: block;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      -ms-flex-item-align: start;
          align-self: start;
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      letter-spacing: .06em;
      padding: .8em 1.7em;
      border: 0px;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      background: #000;
      -webkit-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in; }
      section.visitCodepen button a:hover {
        color: white; }
      section.visitCodepen button a:hover:after {
        -webkit-box-shadow: inset 0px 0px 0px .6em #000;
                box-shadow: inset 0px 0px 0px .6em #000;
        border: 0px;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        color: #fff; }
      section.visitCodepen button a:after {
        position: absolute;
        content: " ";
        width: 106%;
        height: 126%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background: none;
        border: .16em solid #000;
        z-index: 99;
        -webkit-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        background: none; }

section.canvasExperiments {
  padding-top: 2em;
  padding-bottom: .8em;
  position: relative;
  min-width: 0;
  min-height: 0;
  display: grid;
  height: auto;
  width: 100%;
  position: relative;
  grid-template: repeat(2, 4em) 2em repeat(1, 14em) 5em/15px 1fr 1fr 15px;
  grid-template-areas: '. canvasExperimentsHeading canvasExperimentsHeading .' '. canvasExperimentsHeading canvasExperimentsHeading .' '. . . .' '. expCon expCon .' '. . . .'; }
  section.canvasExperiments:before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: whitesmoke; }

.canvasExperimentsHeading {
  position: relative;
  grid-area: canvasExperimentsHeading;
  font-size: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: .3px; }
  .canvasExperimentsHeading:before {
    position: absolute;
    content: " ";
    height: 5px;
    width: 65%;
    left: 0;
    bottom: -10px;
    background: #000;
    border-radius: 1px;
    z-index: 1; }

.canvasShowCase {
  grid-area: expCon;
  opacity: 0;
  min-width: 0;
  min-height: 0;
  position: relative;
  display: grid;
  grid-template: 60px 1fr/ 1fr;
  -webkit-box-shadow: 0px 0px 40px 1px #eee;
          box-shadow: 0px 0px 40px 1px #eee;
  grid-template-areas: 'showExpTitle' 'exp'; }
  .canvasShowCase .showExpTitle {
    grid-area: showExpTitle;
    background: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    line-height: 2.8;
    letter-spacing: .043em;
    padding-left: 1em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    opacity: 1;
    font-size: 1em; }
  .canvasShowCase .canvasExpContainer {
    z-index: 999;
    position: relative;
    grid-area: exp;
    overflow: hidden;
    display: grid;
    grid-template: 1fr/1fr;
    background-color: #fff;
    background-image: url("../assets/exp.PNG");
    background-size: contain;
    background-repeat: no-repeat; }
    .canvasShowCase .canvasExpContainer a {
      z-index: 999999;
      display: block;
      position: absolute;
      bottom: calc(25% + 20px);
      right: calc(5% + 30px);
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      -ms-flex-item-align: start;
          align-self: start;
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      letter-spacing: .06em;
      padding: .5em 1.3em;
      border: 0px;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      background: #000;
      -webkit-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in; }
      .canvasShowCase .canvasExpContainer a:hover {
        color: white; }
      .canvasShowCase .canvasExpContainer a:hover:after {
        -webkit-box-shadow: inset 0px 0px 0px .6em #000;
                box-shadow: inset 0px 0px 0px .6em #000;
        border: 0px;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        color: #fff; }
      .canvasShowCase .canvasExpContainer a:after {
        position: absolute;
        content: " ";
        width: 106%;
        height: 126%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background: none;
        border: .13em solid #000;
        z-index: 99;
        -webkit-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        background: none; }

section.lastbtn {
  position: relative;
  width: 100%;
  padding-bottom: 5em; }
  section.lastbtn:before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 2px;
    top: 0;
    left: 50%;
    background: whitesmoke;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

footer.footer {
  position: relative;
  background: #000;
  height: auto;
  width: 100%;
  min-height: 0;
  min-width: 0;
  padding-top: 2em;
  padding-bottom: 3em;
  display: grid;
  grid-template: repeat(2, 5em)/15px 1fr 1fr 15px;
  grid-template-areas: '. footerLogo footerLogo .' 'footerLink footerLink footerLink footerLink'; }
  footer.footer .logo {
    position: relative;
    grid-area: footerLogo;
    margin-top: 1em;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center; }
    footer.footer .logo .logoSVG {
      fill: rgba(255, 255, 255, 0.9);
      height: 5em;
      width: 10em; }
  footer.footer ul {
    position: relative;
    grid-area: footerLink;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    overflow: hidden;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow: visible; }
    footer.footer ul li {
      position: relative;
      list-style-type: none;
      display: inline-block;
      padding: 0;
      margin: 0; }
      footer.footer ul li:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        width: 0%;
        background: #fff;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
      footer.footer ul li:hover:after {
        width: 100%;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out; }
      footer.footer ul li a {
        position: relative;
        text-decoration: none;
        font-weight: 400;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: .9em;
        color: rgba(255, 255, 255, 0.8);
        padding: 3em .5em;
        line-height: 2.3; }
        footer.footer ul li a:hover {
          color: #fff; }

.btnSideMenu {
  opacity: 0; }

.scrollOpacity {
  opacity: 1;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in; }

.scrollMotion {
  overflow: hidden;
  position: relative; }
  .scrollMotion:after {
    position: absolute;
    content: " ";
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    -webkit-animation: caseContainerAfter .5s ease-in-out forwards;
            animation: caseContainerAfter .5s ease-in-out forwards; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes caseContainerAfter {
  0% {
    left: -100%; }
  100% {
    left: 105%; } }

@keyframes caseContainerAfter {
  0% {
    left: -100%; }
  100% {
    left: 105%; } }

@-webkit-keyframes belowLine {
  0% {
    top: -150%; }
  100% {
    top: 100%;
    height: 0; } }

@keyframes belowLine {
  0% {
    top: -150%; }
  100% {
    top: 100%;
    height: 0; } }

@media only screen and (min-width: 500px) {
  section.showCase {
    grid-template: repeat(2, 4em) 5em repeat(1, 16em) 7em repeat(1, 16em) 7em repeat(1, 16em) 7em repeat(1, 16em)/15px 1fr 1fr 15px;
    grid-template-areas: ". showCaseHeading showCaseHeading ." ". showCaseHeading showCaseHeading ." ". . . ." ". showCaseFirst showCaseFirst ." ". . . ." ". showCaseSecond showCaseSecond ." ". . . ." ". showCaseThird showCaseThird ." ". . . ." ". showCaseFourth showCaseFourth ."; }
  section.overlay {
    grid-template: 1.5fr 2fr / 40px 1fr 40px;
    grid-template-areas: '. about_heading .' '. about_skills .'; }
    section.overlay .closeMenuBtn {
      right: 3em;
      top: 3em;
      height: 50px;
      width: 55px; }
    section.overlay .about_heading_con .about_heading {
      padding: 0px 25px;
      padding-top: 120px;
      font-size: 22px; }
    section.overlay .about_skills_con {
      grid-area: about_skills;
      position: relative; }
      section.overlay .about_skills_con .aboutSkill {
        padding: 0px 25px; }
        section.overlay .about_skills_con .aboutSkill h3 {
          padding-top: 30px;
          text-align: left; }
        section.overlay .about_skills_con .aboutSkill .iconsCon {
          margin-top: 35px;
          grid-column-gap: 5px;
          grid-template: 90px/repeat(4, 1fr); }
          section.overlay .about_skills_con .aboutSkill .iconsCon .icon:before {
            bottom: -2.9em;
            font-weight: 700;
            font-family: 'Source Sans Pro', sans-serif; }
  section.canvasExperiments {
    grid-template: repeat(2, 4em) 3em repeat(1, 16em) 5em/15px 1fr 1fr 15px;
    grid-template-areas: '. canvasExperimentsHeading canvasExperimentsHeading .' '. canvasExperimentsHeading canvasExperimentsHeading .' '. . . .' '. expCon expCon .' '. . . .'; } }

@media only screen and (min-width: 600px) {
  section.showCase {
    grid-template: repeat(2, 4.5em) 5em repeat(1, 16em) 7em repeat(1, 16em) 7em repeat(1, 16em) 7em repeat(1, 16em)/100px 1fr 1fr 100px;
    grid-template-areas: ". showCaseHeading showCaseHeading ." ". showCaseHeading showCaseHeading ." ". . . ." ". showCaseFirst showCaseFirst ." ". . . ." ". showCaseSecond showCaseSecond ." ". . . ." ". showCaseThird showCaseThird ." ". . . ." ". showCaseFourth showCaseFourth ."; }
  section.canvasExperiments {
    grid-template: repeat(2, 4.5em) 3em repeat(1, 16em) 5em/100px 1fr 1fr 100px;
    grid-template-areas: '. canvasExperimentsHeading canvasExperimentsHeading .' '. canvasExperimentsHeading canvasExperimentsHeading .' '. . . .' '. expCon expCon .' '. . . .'; } }

@media only screen and (min-width: 768px) {
  body {
    font-size: 23px;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in; }
  section.showCase {
    grid-template: repeat(2, 4.5em) 5em repeat(1, 16em) 7em repeat(1, 16em) 7em repeat(1, 16em) 7em repeat(1, 16em)/100px 1fr 1fr 100px;
    grid-template-areas: ". showCaseHeading showCaseHeading ." ". showCaseHeading showCaseHeading ." ". . . ." ". showCaseFirst showCaseFirst ." ". . . ." ". showCaseSecond showCaseSecond ." ". . . ." ". showCaseThird showCaseThird ." ". . . ." ". showCaseFourth showCaseFourth ."; }
  .showCaseHeading, .canvasExperimentsHeading {
    font-size: 1.8em; }
  .showCommon {
    grid-template: 65px 1fr/ 1fr;
    grid-template-areas: 'showCaseTitle' ' iframe'; }
    .showCommon .showCaseTitle {
      font-size: 1.1em; }
    .showCommon .showCaseContainer a {
      font-size: 20px;
      padding: .6em 1.6em; }
      .showCommon .showCaseContainer a:after {
        width: 108%;
        height: 128%;
        border: .18em solid #000; }
    .showCommon .first {
      background-image: url("../assets/showcaseFirst_second.PNG");
      background-size: 551px 303px;
      background-position: center center;
      background-repeat: no-repeat; }
    .showCommon .second {
      background-image: url("../assets/showcaseSecond_second.PNG");
      background-size: 551px 303px;
      background-position: center center;
      background-repeat: no-repeat; }
    .showCommon .third {
      background-image: url("../assets/showcaseThird_second.PNG");
      background-size: 551px 303px;
      background-position: center center;
      background-repeat: no-repeat; }
    .showCommon .fourth {
      background-image: url("../assets/showcaseFourth_second.PNG");
      background-size: 551px 303px;
      background-position: center center;
      background-repeat: no-repeat; }
  section.overlay {
    grid-template: 1.5fr 2fr / 1fr 700px 1fr;
    grid-template-areas: '. about_heading .' '. about_skills .'; }
    section.overlay .closeMenuBtn {
      top: 5em;
      right: 5em;
      height: 55px;
      width: 60px; }
    section.overlay .about_heading_con .about_heading {
      padding-top: 130px;
      font-size: 22px; }
    section.overlay .about_skills_con .aboutSkill .iconsCon {
      margin-top: 35px;
      grid-column-gap: 10px;
      grid-template: 90px/repeat(4, 1fr); }
      section.overlay .about_skills_con .aboutSkill .iconsCon .icon:before {
        font-weight: 700; }
  nav.sideMenuNav .sideMenuFixer {
    width: 700px;
    height: auto;
    font-size: 25px; }
  section.canvasExperiments {
    grid-template: repeat(2, 4.5em) 3em repeat(1, 16em) 5em/100px 1fr 1fr 100px;
    grid-template-areas: '. canvasExperimentsHeading canvasExperimentsHeading .' '. canvasExperimentsHeading canvasExperimentsHeading .' '. . . .' '. expCon expCon .' '. . . .'; }
  .canvasShowCase {
    grid-template: 65px 1fr/ 1fr;
    grid-template-areas: 'showExpTitle' 'exp'; }
    .canvasShowCase .showExpTitle {
      font-size: 1.1em; }
    .canvasShowCase .canvasExpContainer a {
      font-size: 20px;
      padding: .6em 1.6em; }
      .canvasShowCase .canvasExpContainer a:after {
        width: 108%;
        height: 128%;
        border: .18em solid #000; } }

@media only screen and (min-width: 900px) {
  body {
    font-size: 24px; }
  section.showCase {
    grid-template: repeat(2, 4em) 5em repeat(1, 19em) 7em repeat(1, 19em) 7em repeat(1, 19em) 7em repeat(1, 19em)/1fr 15em 15em 1fr;
    grid-template-areas: ". showCaseHeading showCaseHeading ." ". showCaseHeading showCaseHeading ." ". . . ." ". showCaseFirst showCaseFirst ." ". . . ." ". showCaseSecond showCaseSecond ." ". . . ." ". showCaseThird showCaseThird ." ". . . ." ". showCaseFourth showCaseFourth ."; }
  .showCommon {
    grid-template: 70px 1fr/ 1fr;
    grid-template-areas: 'showCaseTitle' ' iframe'; }
  nav.sideMenuNav .sideMenuFixer {
    width: 800px;
    height: auto;
    font-size: 25px; }
  section.canvasExperiments {
    grid-template: repeat(2, 4em) 3em repeat(1, 19em) 5em/1fr 15em 15em 1fr;
    grid-template-areas: '. canvasExperimentsHeading canvasExperimentsHeading .' '. canvasExperimentsHeading canvasExperimentsHeading .' '. . . .' '. expCon expCon .' '. . . .'; } }

@media only screen and (min-width: 960px) {
  .showCommon .first {
    background-image: url("../assets/showcaseFirst_third.PNG");
    background-size: 700px 400px;
    background-position: center center;
    background-repeat: no-repeat; }
  .showCommon .second {
    background-image: url("../assets/showcaseSecond_third.PNG");
    background-size: 700px 400px;
    background-position: center center;
    background-repeat: no-repeat; }
  .showCommon .third {
    background-image: url("../assets/showcaseThird_third.PNG");
    background-size: 700px 400px;
    background-position: center center;
    background-repeat: no-repeat; } }

@media only screen and (min-width: 1200px) {
  body {
    font-size: 29px; }
  section.intro {
    grid-template: 100px 1fr 80px/ 100px 1fr 1fr 200px;
    grid-template-areas: "logo nav nav sideMenu" " . introText introText introText" ". below below ."; } }
